#st {
    overflow: hidden;
}
.block {
    fill: rgba(238, 241, 245, 1.0);
    border-radius: 4px;
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 1.0);
    shape-rendering: crispEdges;
}
.background {
    fill: rgba(240, 240, 240, 1);
}
.label {
    font-family: 'Anonymous Pro';
    font-size: 12px;
}
.group_list {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    width: 50px;
    background: rgba(200, 200, 200, 1);
}
.selection_rect {
    stroke: rgba(130, 130, 130, 1);
    stroke-width: 1px;
    fill: rgba(230, 230, 230, .5);
}
.blocked {
    fill: grey;
}
.selected {
    stroke-width: 2px;
    stroke: rgba(50, 50, 240, 1);
}
.group_list div {
    width: 50px;
    padding: 2px;
    font-family: 'Anonymous Pro';
    position: relative;
    float: left
}
.route_label {
    font-family: verdana;
    font-size: 12px;
    user-select: none;
}
.route_circle {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}
.route_circle:hover {
    stroke-width: 3px;
}
.route_circle_filled {
    fill: black;
    stroke: none;
}
.route_circle_white {
    fill: rgba(180, 180, 180, 1);
    stroke: black;
    stroke-width: 1px;
}
.focused {
    background: rgba(100, 100, 100, 1);
    color: white;
}
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
                     *      Introduced in IE 10.
                     *           See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
                     *              */
    -ms-user-select: none;
    user-select: none;
}
/* this is terrible, there is to be another way */

.measure_text_scratch {
    position: absolute;
    top: -1000px;
    left: -1000px;
    user-select: none;
}
.stage {
    position: absolute;
    margin: 0px;
    padding: 0px;
}
.panel_list {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}
body {
    margin: 0px;
    padding: 0px;
}
.route_name {
    float: left;
    position: relative;
}
.route_value {
    width: 100px;
    background: rgba(150, 150, 150, 1);
    float: left;
    position: relative;
}
.input {
    clear: both;
    position: relative;
    float: left;
}
.connected {
    float: left;
    position: relative;
    background: rgba(100, 100, 100, 1);
}
.panel {
    background: rgba(200, 200, 200, 1);
    border-bottom: 1px solid rgba(100, 100, 100, 1);
    padding: 5px;
    float: left;
    width: 200px;
    clear: both;
}
.panel .label {
    width: 50px;
    float: left;
    clear: left;
}
.number {
    fill: rgba(170, 255, 0, 1);
}
.object {
    fill: rgba(255, 170, 0, 1);
}
.array {
    fill: rgba(255, 0, 170, 1);
}
.string {
    fill: rgba(170, 0, 255, 1);
}
.boolean {
    fill: rgba(0, 170, 255, 1);
}
.writer {
    fill: rgba(0, 255, 170, 1);
}
.any {
    fill: rgba(255, 255, 255, 1);
}
.error {
    fill: rgba(255, 0, 0, 1);
}
.editable {
    min-width: 100px;
    float: left;
    clear: right;
    position: relative;
    background: rgba(240, 240, 240, 1);
    font-family: "Anonymous Pro";
}
.tools {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.tool_button {
    padding: 5px;
    background: rgba(200, 200, 200, 1);
}
.tool_button:hover {
    background: rgba(100, 100, 100, 1);
}
.tick_circle {
    fill: none;
    stroke: black;
}
.ticker_0 {
    transform: rotate(0deg);
}
.ticker_1 {
    transform: rotate(45deg);
}
.ticker_2 {
    transform: rotate(90deg);
}
.ticker_3 {
    transform: rotate(135deg);
}
.ticker_4 {
    transform: rotate(180deg);
}
.ticker_5 {
    transform: rotate(225deg);
}
.ticker_6 {
    transform: rotate(270deg);
}
.ticker_7 {
    transform: rotate(315deg);
}
.error {
    fill: rgba(255, 0, 0, 1);
}
.group_tree ul {
    margin: 0px;
    padding-left: 15px;
    list-style: none;
}
.waiting {
    stroke-width: 5px;
}
.kernel {
    fill: rgba(0, 0, 0, 1);
}
.running {
    stroke: blue;
    /*    animation: RUNROTATE 250ms infinite;
    animation-timing-function: linear;
}
@keyframes RUNROTATE {
    to {
        transform: rotate(1turn);
    }*/
}
.current-group {
    background-color: rgba(100, 100, 100, 1);
    color: white;
}
