.block{
        fill: rgba(238,241,245,1.0);
        border-radius: 4px;
        stroke-width: 1; 
        stroke: rgba(0,0,0,1.0);
        shape-rendering: crispEdges;
}

.background{
	fill: rgba(240,240,240,1);
}

.label{
        font-family: 'Anonymous Pro';
        font-size: 12px;
}

.group_list{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index:11;
        width: 50px;
        background: rgba(200,200,200,1);
}


.selection_rect{
	stroke: rgba(130,130,130,1);
	stroke-width: 1px;
	fill: rgba(230,230,230,.5);
}

.selected {
	stroke-width: 2px;
        stroke: rgba(50,50,240,1);
}

.group_list div {
        width: 50px;
        padding: 2px;
        font-family: 'Anonymous Pro';
        position: relative;
        float: left
}

.route_label{
        font-family: verdana;
        font-size: 12px;
        user-select: none
}

.route_circle{
        fill: none;
        stroke: black;
        stroke-width: 1px;
}

.route_circle_filled{
        fill: black;
        stroke: none;
}

.focused {
        background: rgba(100,100,100,1);
        color: white;
}


*.unselectable {
           -moz-user-select: -moz-none;
              -khtml-user-select: none;
                 -webkit-user-select: none;

                    /*
                     *      Introduced in IE 10.
                     *           See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
                     *              */
           -ms-user-select: none;
              user-select: none;
}

/* this is terrible, there is to be another way */
.measure_text_scratch {
        position: absolute;
        top: -1000px;
        left: -1000px;
        user-select: none;
}

.stage{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
}

.panel_list{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 150px;
        z-index: 10;
}

body{
        margin: 0px;
        padding: 0px;
}
